*{
  padding: 0;
  margin: 0;
  
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100px;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

h2{
  color: #FFFF;
  background-color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 10px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 15px;
}

nav a{
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  padding: 8px;
  border-radius: 8px;
}

nav a:hover{
  background-color: #ffffff;
  color: #fff;
}

.Appbody {
  background-color: #FFFF;
}

/*.App-baner{
  width: 70%;
}

.Appbaner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Appbaner .App-baner{
  width: 40%;
  height: auto;
} */

.ContainerProductos {
  padding: 0px 150px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.Productosimagen {
  width: 40%;
  height: auto;  
}
.Productosimagen img{
  width: 100%;
  height: auto;
  
}

.Productos {
  width: 30%;
  
 
}

footer .container_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

footer .container_footer .footer_section{
  width: 20%;
  display: flex;
  flex-direction: column;
}

footer footer_img{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer .footer_img img{
  width: 55px;
  height: 55px;
  cursor: pointer;
  border-radius: 10px;
}

.Form {
  background-color: antiquewhite;
}

.AppForm {
  background-color: #fff;
  text-align: left;
  padding: 3px;
  color: #FFFFFF;
  justify-content: center;
}

.App_Text_Form {
  width: 700px;
  padding: 0px;
  width: auto;
}

.btn {
  display: inline-block;
  padding: 30px 50px;
  background-color: blue;
  color: #ffff;
  font-size: 25px;
  text-decoration: none;
}

.small{
  font-size: 14px;
  padding: 10px 15px;
  
}

.slider{
  width: 95%;
  margin: auto;
  
  
}

.ul{
  display: flex;
  padding: 0;
  width: 400%;
  overflow: hidden;

  animation: cambio 20s infinite;
  animation-direction: alternate;
}

.li{
  width: 100%;
  list-style: none;
}

.li image{
  width: 100%;
}

@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}