*{
  padding: 0;
  margin: 0;
  
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100px;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

h2{
  color: #FFFF;
  background-color: cornflowerblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 10px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 15px;
}

nav a{
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  padding: 8px;
  border-radius: 8px;
}

nav a:hover{
  background-color: #ffffff;
  color: #fff;
}

.Appbody {
  background-color: #FFFF;
}

.App-baner{
  width: 70%;
}


.ContainerProductos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.Productos1 {
  border: solid 2px black;
  width: 30%;
  
}
.Productos1 img{
  width: 100%;
}

.Productos {
  border: solid 2px black;
  width: 70%;
  
 
}

footer .container_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

footer .container_footer .footer_section{
  width: 20%;
  display: flex;
  flex-direction: column;
}

footer footer_img{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer .footer_img img{
  width: 55px;
  height: 55px;
  cursor: pointer;
  border-radius: 10px;
}

.Form {
  background-color: antiquewhite;
}

.AppForm {
  background-color: #fff;
  text-align: left;
  padding: 3px;
  color: #FFFFFF;
  justify-content: center;
}

.App_Text_Form {
  width: 700px;
  padding: 0px;
  width: auto;
}
